<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue Boilerplate</title>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="app">
            <div id="outer">
                <div id="inner">{{answer}}</div>
            </div>
            <input type="text" placeholder="Ask a question..." v-model="question" v-on:keyup="showingButton()">
            <button v-show="showButton" v-if="!validQuestion" v-on:click="askQuestion()">Ask Question</button>
            <button v-show="showButton" v-else v-on:click="askQuestion()">not a valid question</button>
            <ul>
                <li v-for="(item, index) in history">
                    <p>Question: {{item.question}}</p>
                    <p>Answer: {{item.answer}}</p>
                    <button v-on:click="deleteItem(index)">X</button>
                </li>
            </ul>
        </div>
        <script src="app.js"></script>
    </body>
</html>